@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f5f3ef;
    --secondary: #d6cfc4;
    --primaryfont: #3e3e3e;
    --bordercolor: #b6b0a9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1c1c1c;
    --secondary: #3a3a3a;
    --primaryfont: #f5f5f5;
    --bordercolor: #5a5a5a;
  }
}
